 version: 2.1
 
 orbs:
   win: circleci/windows@1.0.0
   
 jobs:
   build:
     executor:
       name: win/vs2019
       shell: bash.exe
     steps:
       - checkout
       - run:
           name: Restore packages
           command: dotnet restore -r net48
       - run:
           name: Build
           command: dotnet build --framework net48
