 version: 2.1
 
 orbs:
   win: circleci/windows@2.2.0
   
 jobs:
   build:
     executor: win/default
     steps:
       - checkout
       - run:
           name: Install packages
           command: nuget install
       - run:
           name: Restore packages
           command: nuget restore jarvis.sln
       - run: 
           name: Build
           command: MsBuild jarvis.sln /property:Configuration=Release
       - run:
           name: Archive artifact
           command: Compress-Archive ./jarvis/bin/Release jarvis-net4.8-x64.zip
       - store_artifacts:
           path: jarvis-net4.8-x64.zip
