 version: 2.1

 orbs:
  win: circleci/windows@2.2.0

 jobs:
   build:
     executor: win/default     
    
     steps:
       - checkout
       - run: cd jarvis
       - run: nuget install
       - run: cd ..
       - run: nuget restore
       - run: dotnet build --framework net48
       - store_artifacts:
          path: ./bin/Debug/jarvis.exe
          destination: jarvis-debug-x64.exe
